{% extends 'login_base.html' %}

{% block title%} Login {% endblock %}

{% block body%}
<form method="post">
    <p>
        <label for="user_name">Enter user name</label>
        <input type="text" name="user_name" placeholder="user_name">
    </p>
    <p>
        <label for="user_password">Enter your password</label>
        <input type="text" name="user_password" placeholder="user_password">
    </p>
    <p>
        <button class="custom-btn btn-2" type="submit">Submit</button>
    </p>

</form>

<form action="{{ url_for('login') }}" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>

{% endblock %}