{% extends 'base.html' %}

{% block title%} Update {% endblock %}

{% block body%}
<form method="post">
    <p>
        <label for="name">Enter exercise name</label>
        <input type="text" name="name" placeholder="name">
    </p>
    <p>
        <label for="description">Enter exercise's description</label>
        <input type="text" name="description" placeholder="description">
    </p>
        <p>
        <label for="goal">Enter exercise goal</label>
        <input type="text" name="goal" placeholder="goal">
    </p>
    <p>
        <label for="common_mistakes">Enter exercise's common mistakes</label>
        <input type="text" name="common_mistakes" placeholder="common_mistakes">
    </p>
    <p>
        <button class="custom-btn btn-2" type="submit">Submit</button>
    </p>
</form>

{% endblock %}