{% extends 'base.html' %}

{% block title%}person{% endblock %}

{% block body %}
<a href="/tropx/user/update/weight/{{user.id}}">
    <button class="custom-btn btn-2">Update user's weight</button>
</a>

<h1>User id: {{user.id}}</h1>
<h2>User name: {{user.name}}</h2>
<h3>User phone: {{user.phone}}</h3>
<h3>User email: {{user.email}}</h3>
<h3>User gender: {{user.gender}}</h3>
<h3>User birthdate: {{user.birthdate.strftime('%Y-%m-%d')}}</h3>
<h3>User height: {{user.height}}</h3>
<h3>User weight: {{user.weight}}</h3>
<h3>User sport: {{user.sport}}</h3>
<h3>User weight chart : </h3>
<img src="data:image/png;base64,{{ plot_img }}">
<br>
    <a href="/tropx/user/medic/new/{{user.id}}">
        <button class="custom-btn btn-2">Add medical information</button>
    </a>
    <a href="/tropx/user/update/injurie/{{user.id}}">
        <button class="custom-btn btn-2">Add injurie information</button>
    </a>
<h3>User chronic illness: {{mi.chronic_illness}}</h3>
<h3>User orthopedic status: {{mi.orthopedic_status}}</h3>
<h3>User current medication: {{mi.current_medication}}</h3>
<h3>User balance sway standing: {{mi.balance_sway_standing}}</h3>
<h3>User personal calibration: {{mi.personal_calibration}}</h3>
{% if mi.injuries %}
    {% for injurie in mi.injuries %}
    <h3>Injurie was : {{injurie.injurie_date.strftime('%Y-%m-%d')}}, in {{injurie.injurie_bodypart}}. It takes {{injurie.days_to_recover}} days to recover</h3>
    {% endfor %}
    <img src="data:image/png;base64,{{ injury_img }}">
    {% else %}
    <h3>You have no injuries!</h3>
{% endif %}
{% if user.exercise_executions %}
<table class="iksweb">
<!--    {{user.exercise_executions}}-->
    <thead>
    <tr>
        <th>Execution Id</th>
        <th>User name</th>
        <th>Exercise name</th>
        <th>Execution Date</th>
        <th>Number of repetitions</th>
        <th>Number of sets</th>
        <th>Second long</th>
        <th>Weight with</th>
        <th>Correctness rate</th>
        <th>Is Correct</th>
    </tr>
    </thead>
    <tbody>
    {% for execution in user.exercise_executions %}
    <tr>
        <td>{{execution.execution_id}}</td>
        <td>{{execution.user.name}}</td>
        <td>{{execution.exercise.name}}</td>
        <td>{{execution.execution_date.strftime('%Y-%m-%d')}}</td>
        <td>{{execution.number_of_repetitions}}</td>
        <td>{{execution.number_of_sets}}</td>
        <td>{{execution.seconds_long}}</td>
        <td>{{execution.weight_with}}</td>
        <td>{{execution.correct_rate}}</td>
        <td>{{execution.is_correct}}</td>
        <td><a href="/tropx/execution/{{execution.execution_id}}">Show</a></td>
        <td><a href="/tropx/execution/update/{{execution.execution_id}}">Update</a></td>
        <td><a href="/tropx/execution/delete/{{execution.execution_id}}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h3>Exercise Execution list is empty!</h3>
{% endif %}



{% endblock %}