{% extends 'base.html' %}

{% block title%}person{% endblock %}

{% block body %}
<a href="/tropx/user/update/weight/{{user.id}}">
    <button class="custom-btn btn-2">Update user's weight</button>
</a>

<h1>User id: {{user.id}}</h1>
<h2>User name: {{user.name}}</h2>
<h3>User phone: {{user.phone}}</h3>
<h3>User email: {{user.email}}</h3>
<h3>User gender: {{user.gender}}</h3>
<h3>User birthdate: {{user.birthdate}}</h3>
<h3>User height: {{user.height}}</h3>
<h3>User weight: {{user.weight}}</h3>
<h3>User sport: {{user.sport}}</h3>
<h3>User weight chart : </h3>
<img src="data:image/png;base64,{{ plot_img }}">
<br>
<h3>User's medical information chart : </h3>
<a href="/tropx/user/medic/new/{{user.id}}">Add medical information</a>
<a href="/tropx/user/update/injurie/{{user.id}}">Add injurie information</a>
<h3>User chronic illness: {{mi.chronic_illness}}</h3>
<h3>User birthdate: {{mi.orthopedic_status}}</h3>
<h3>User height: {{mi.current_medication}}</h3>
<h3>User weight: {{mi.balance_sway_standing}}</h3>
<h3>User sport: {{mi.personal_calibration}}</h3>
{% for injurie in mi.injuries %}
<h3>Injurie was : {{injurie.injurie_date}}, in {{injurie.injurie_bodypart}}. Days to recover : {{injurie.days_to_recover}}</h3>
{% endfor %}
{% if user.exercise_executions %}
<table class="iksweb">
<!--    {{user.exercise_executions}}-->
    <thead>
    <tr>
        <th>Execution Id</th>
        <th>User name</th>
        <th>Exercise name</th>
        <th>Execution Date</th>
        <th>Number of repetitions</th>
        <th>Number of sets</th>
        <th>Second long</th>
        <th>Weight with</th>
        <th>Correctness rate</th>
        <th>Is Correct</th>
    </tr>
    </thead>
    <tbody>
    {% for execution in user.exercise_executions %}
    <tr>
        <td>{{execution.execution_id}}</td>
        <td>{{execution.user.name}}</td>
        <td>{{execution.exercise.name}}</td>
        <td>{{execution.execution_date}}</td>
        <td>{{execution.number_of_repetitions}}</td>
        <td>{{execution.number_of_sets}}</td>
        <td>{{execution.seconds_long}}</td>
        <td>{{execution.weight_with}}</td>
        <td>{{execution.correct_rate}}</td>
        <td>{{execution.is_correct}}</td>
        <td><a href="/tropx/execution/{{execution.execution_id}}">Show</a></td>
        <td><a href="/tropx/execution/update/{{execution.execution_id}}">Update</a></td>
        <td><a href="/tropx/execution/delete/{{execution.execution_id}}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Exercise Execution list is empty!</p>
{% endif %}



{% endblock %}