{% extends 'base.html' %}

{% block title%} Update {% endblock %}

{% block body%}
<form method="post">
    <p>
        <label for="weight">Enter your weight</label>
        <input type="text" name="weight" placeholder="weight">
    </p>
    <p>
        <label for="weight_date">Enter date of new weight</label>
        <input type="date" name="weight_date" placeholder="weight_date">
    </p>

    <p>
        <button class="custom-btn btn-2" type="submit">Submit</button>
    </p>
</form>

{% endblock %}