{% extends 'base.html' %}

{% block title%} New {% endblock %}

{% block body%}
<form method="post">
    <p>
        <label for="user_id">Enter where is mistake</label>
        <input type="number" name="user_id" placeholder="user_id">
    </p>
    <p>
        <label for="execution_date">Enter exercise execution date</label>
        <input type="date" name="execution_date" placeholder="execution_date">
    </p>
    <p>
        <label for="number_of_repetitions">Enter exercise's number of repetitions</label>
        <input type="text" name="number_of_repetitions" placeholder="number_of_repetitions">
    </p>
    <p>
        <label for="number_of_sets">Enter exercise's number of sets</label>
        <input type="text" name="number_of_sets" placeholder="number_of_sets">
    </p>
    <p>
        <label for="seconds_long">Enter exercise's long in seconds</label>
        <input type="text" name="seconds_long" placeholder="seconds_long">
    </p>
    <p>
        <label for="weight_with">Enter exercise weight with</label>
        <input type="text" name="weight_with" placeholder="weight_with">
    </p>
    <p>
        <label for="correct_rate">Enter exercise weight with</label>
        <input type="text" name="correct_rate" placeholder="correct_rate">
    </p>
    <p>
        <label for="is_correct">Enter, is exercise correct?</label>
        <input type="text" name="is_correct" placeholder="is_correct">
    </p>
    <p>
        <label for="exercise_id">Enter exercise's id</label>
        <input type="text" name="exercise_id" placeholder="exercise_id">
    </p>
    <p>
        <label for="where_is_mistake">Enter where is mistake</label>
        <input type="text" name="where_is_mistake" placeholder="where_is_mistake">
    </p>
    <p>
        <button class="custom-btn btn-2" type="submit">Submit</button>
    </p>
</form>

{% endblock %}