{% extends 'base.html' %}

{% block title%}execution{% endblock %}

{% block body %}


<h1>Execution id: {{execution.execution_id}}</h1>
<h1>User: {{user.name}}</h1>
<h1>Exersice: {{exercise.name}}</h1>
<h2>Execution date: {{execution.execution_date}}</h2>
<h2>Execution number count: {{execution.number_count}}</h2>
<h2>Execution weight with: {{execution.weight_with}}</h2>
<h2>Execution correctness rate: {{execution.correct_rate}}</h2>
<h2>Execution is correct?: {{execution.is_correct}}</h2>
<img src="data:image/png;base64,{{ plot_url }}">


{% endblock %}