{% extends 'base.html' %}

{% block title%} Index {% endblock %}

{% block body %}
{% if medical_informations %}
<table class="iksweb">
    <thead>
    <tr>
        <th>Id</th>
        <th>USER ID</th>
        <th>Chronic Illness</th>
        <th>Orthopedic Status</th>
        <th>Current Medication</th>
        <th>Balance</th>
        <th>Personal Calibration</th>
    </tr>
    </thead>
    <tbody>
    {% for mi in medical_informations %}
    <tr>
        <td>{{mi.id}}</td>
        <td>{{mi.user_id}}</td>
        <td>{{mi.chronic_illness}}</td>
        <td>{{mi.orthopedic_status}}</td>
        <td>{{mi.current_medication}}</td>
        <td>{{mi.balance_sway_standing}}</td>
        <td>{{mi.personal_calibration}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Medical information list is empty!</p>
{% endif %}


{% endblock %}
